Portfolio - Python/AI Assistant/.env
Portfolio - Python/Mashbot/.env
Portfolio - Python/Mashbot/.VENV
java-portfolio/pendragon/src/main/java/mashumelo/config.json
java-portfolio/pendragon/target/classes/mashumelo/config.json
.cache
